body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#uploadInput {
    margin: 20px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#gallery img {
    margin: 10px;
    max-width: 200px;
    max-height: 200px;
}

#pagination {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}
